[Unit]
Description=Python Flask WebApp for CSYE-6225 (NEU F24)
After=network.target

[Service]
Type=simple
User=csye6225
Group=csye6225
WorkingDirectory=/opt/webapp
ExecStart=/usr/bin/python3 /opt/webapp/app/app.py
EnvironmentFile=/opt/webapp/.env
Restart=always
RestartSec=3
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=csye6225

[Install]
WantedBy=multi-user.target
